@font-face {
    font-family: norse-bold;
    src: url(/Users/meghanotto/Library/Fonts/Norse-Bold.otf);
  }

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

footer {
    position:absolute;
    bottom: 0;
    background-color: #0000007f;
    width: 100%;
    font-size: 1rem;
    color:#EAE8E7;
}
.leftpane {
    width: 40%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    background-image: url(/Users/meghanotto/repos/sign-up-form/OrionSmall1.jpg);
    font-family: 'norse-bold', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    flex-wrap:wrap;
    align-items: center;
}

.rightpane {
    flex-grow: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'roboto', sans-serif;
    background-color: #e4e2e1;
}

form {
    width: 100%;
    background-color:#fbfaf9;
}

input {
    margin: 0.5rem;
}
.inputs {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    padding: 5%;

}

.leftinputs, 
.rightinputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.logotitle {
    display: flex;
    align-items: center;
    background-color: #00000086;
    width: 100%;
    height:min-content;
    color: #EAE8E7;
    position:relative;
    bottom: 20%;
    font-size: 2.7rem;
}

.hook {
    
    font-weight: 700;
    line-height: 1.2rem;
    font-size: 1.2rem;
    position: relative;
    bottom: 1rem;
    padding: 5%;
}

.signupmsg {
    font-size:1.5rem;
    font-weight: 800;
    margin: 1.5rem 0;
    padding: 5%;
}

button {
    margin: 5%;
}